.article-board {
    /* width: 60vw;
    height: 3rem; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}

.ariticle-board-container {
    border: 1px solid black;

    background-image: url('../assets/nine-man-9.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 85%;
}

.section-board {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100vh;
    margin: 0 1rem 0 1rem;
}

.section-board > * {
    max-height: 25rem; /* Set the maximum height for the flex items */
}

.main-game {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 850px) {
    .main-game {
      flex-direction: column; 
    }
}
