.tile-piece {
    height: 2rem;
    cursor: grab;
}

.null-piece {
    height: 2rem;
    cursor: pointer;
}

.div-tile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-tile-container {
    height:3rem;
    width: 3rem;
}